@font-face {
    font-family: 'avantGarde';
    src: url('../assets/fonts/avantgardegothic.otf');
}

body {
	font-family: 'avantGarde';
}

h1 {font-size: 33px;}
h2 {font-size: 28px;}
p {font-size: 20px;}

.logo img {
	width: 50%;
	max-width: 100%;
}


.topBar {background: #E6E6E6;}

.topBar p, .topBar span, .blockRed, .blockBlue {padding:15px;}
.topBar p {color: #FF0000;}

.topBar span {
	font-size: 30px;
	color: #000000;
}

.blockRed {
	background: rgba(255, 0, 0, .4); 
}

.blockBlue {
	background: rgba(41, 171, 226, .4); 
}











/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }
