body {
	font-family: 'Abel', sans-serif;
	font-size: 22px;
}

h1 {font-size: 50px;}
h2 {font-size: 40px;}
h3 {font-size: 34px;}
h4 {font-size: 24px;}
p, .form-control, .form-horizontal .control-label {
	font-size: 22px;
	font-weight: 700;
}

h1, h2, h3, h4 {
	margin-top: 5px;
	margin-bottom: 10px;
	font-weight: 900;
}

canvas {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 30px auto;
}

/* Responsive 100% wide images */
.imgResponsive {
	width: 100%;
	max-width: 100%;
}

.rightFloat {float: right;}


/*** CONTACT TOP BAR ***/
.topBar {
	padding: 5px;
	margin-bottom: 0px;
	text-align: center;
}

.topBar, footer, #dealerLogin form {background: #E6E6E6;}

.topBar p {
	color: #FF0000;
	padding:10px;
}

.topBar span, footer span {
	font-size: 26px;
	color: #000000;
}

/*** CONTACT TOP BAR END***/

/*** Logos & dealer form ***/

.logo img {
	width: 100%;
	max-width: 100%;
}

.logoSection {
	padding: 40px 0;
}

#dealerLogin {margin-top:30px;}

#dealerLogin form {padding: 20px;}

#dealerLogin form .form-group {margin-bottom: 0;}

#dealerID, #dealerPassword, #dealerFormSubmit {
	height: 35px;
	font-size: 15px;
}

#renaultLogo, #renaultLogo2 {
	padding: 20px;
	text-align: center;
}

/*** Logos & dealer form END ***/

/*** CTA ***/

.cta, .cta-white {
	padding: 15px;
	border: 0px solid #FF0000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
	width: 100%;
	margin: auto;
	text-align: center;
}

.cta:hover, .cta:visited, .cta:active, .cta-white:hover, .cta-white:visited, .cta-white:active {text-decoration: none;}

.cta {
	background: #FF0000;
	color: #FFFFFF;
}

.cta:hover, .cta:visited, .cta:active {
	color: #FFFFFF;
	background: rgba(255, 0, 0, .4);	
}

.cta-white {
	background: #FFFFFF;
	color: #FF0000;
	width: 100%;
}

.cta-white:hover, .cta-white:visited, .cta-white:active {
	color: #FF0000;
	background: #E3E2E1;	
}

/*** CTA END ***/


/*** VOUCHERS SECTION ***/

#downloadVouchers {float: right;}

button, html input[type=button], input[type=reset], input[type=submit] {
    background-color: #FF0000;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.blockRed {background: rgba(255, 0, 0, .5); position: relative;}
.blockBlue {background: rgba(41, 171, 226, .5); position: relative;}
.blockGrey {background: #E6E6E6;}
.blockBorder {border: solid 1px #E6E6E6;}

.blockRed h3, .blockBlue h3, .blockRed h4, .blockBlue h4, .downloadAnchor {color: #FFFFFF;}

footer, .blockRed, .blockBlue, .blockGrey, #signUpForm, .blockBorder, .contactForm  {
	padding:15px;
	margin:15px 0;
}

.centeredText, .voucherHeading, .voucherLinkDiv {
	height:33%;
}

.centeredText {
	width: 100%;
	margin: auto;
	text-align: center;
}

.voucherLinkDiv {
	text-align: right;
}

.voucherLinkDiv a {
	position: absolute;
	bottom: 15px;
	right: 15px;
	color: #FFFFFF;
	font-size: 22px;
}

.voucherLinkDiv a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/*** VOUCHERS SECTION END ***/

/*** ABOUT PLUS VERIFY FORM ***/

#signUpForm {
	background: #FF0000;
	color: #FFFFFF;
}

#memberFormSubmit {
	background: #B3B3B3;
}

#memberForm {margin-top: 20px;}

#memberForm .col-sm-8 {
	padding-left: 0;
	padding-right: 5px;
}

.verify {padding:20px;}

/*** ABOUT PLUS VERIFY FORM END ***/

/*** FOOTER ***/

footer p {color: #FF0000;}

.form-horizontal .control-label {
	text-align: left;
}

.form-control {
	height: 50px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.links span {margin:0 20px;}

#renaultLogo img {
	width: 120px;
	margin: auto;

}

/*** FOOTER END ***/

/*** BANNER - test part 2 ***/

#banner728x90 {
	width: 728px;
	height: 90px;
	background: url("../images/bannerBgL.jpg");
	background-size: contain;
}

#banner468x60 {
	width: 468px;
	height: 60px;
	background: url("../images/bannerBgM.jpg");
	background-size: contain;
}

#banner300x100 {
	width: 300px;
	height: 100px;
	background: url("../images/bannerBgS.jpg");
	background-size: contain;
}

#banner468x60, #banner728x90 {display: none;}

#banner300x100 {display: block;}

/*** BANNER - test part 2 END ***/

/*** ANIMATIONS ***/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*** ANIMATIONS END ***/

/*** SLIDER ***/

.slick-slide {
	padding: 15px;
}

.slick-slider button {display: none !important;}

/*** SLIDER END ***/

/*** RESPONSIVE ***/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.verify {padding:0;}
	.memberSubmit {margin-left: 5px;}

	#banner728x90, #banner300x100 {display: none;}

	#banner468x60 {display: block;}
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.topBar {
		padding: 5px;
		margin-bottom: 5px;
		text-align: left;
	}

	.topBar p {display: inline;}

	.topBar span, footer span {
		font-size: 33px;
	}

	.logo img {
		width: 80%;
	}

	#dealerLogin {margin-top:0px;}
	
	#dealerLogin form {padding: 10px 15px;}

	#dealerLogin form .form-group {margin-bottom: 0;}

	.dealerText {width: 60%;}
	.dealerSubmit {width: 35%;}

	.dealerText, .dealerSubmit, .memberText, .memberSubmit {display: inline;}

	#dealerID, #dealerPassword, #dealerFormSubmit {
		height: 35px;
		font-size: 15px;
	}

	#renaultLogo, #renaultLogo2 {padding: 0px;}

	#renaultLogo img, #renaultLogo2 img {float: right; margin-bottom: 15px;}


	#about, #signUpForm {height: 400px;}

	#about p {
		column-count: 2;
		column-gap: 35px;
	}

	#banner468x60, #banner300x100 {display: none;}

	#banner728x90 {display: block;}

}

/*** RESPONSIVE END ***/

/*** Fixed height classes ***/

.div200 {height:200px;}	
.div250	{height:250px;}	
.div300	{height:300px;}	
.div350	{height:350px;}
.div400	{height:400px;}

/*** Fixed height classes END ***/
